Package: com.rpetrich.dietbar
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.1
Description: Puts navigation bars on a diet!
Name: DietBar
Depends: firmware (>= 3.0), mobilesubstrate
Author: Ryan Petrich <rpetrich+dietbar@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=dietbarData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=dietbarData
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension
dev: rpetrich
